a {
    float: right;
    font-size: 13px;
    padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    margin: 5px;
}

a:link { 
    color: #000000; 
    text-decoration: none;
}

a:visited { 
    color: #000000;
    text-decoration: none;
}

a:hover { 
    color: #4f79ce; 
    text-decoration: underline;
}

a:active { 
    color: #000000; 
    text-decoration: none;
}

.advance {
    display: grid;
    grid-template-columns: 300px 380px 300px 300px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    justify-content: righr;
}

#advanced-search-p{
    color: #d93025;
    font-size: 20px;
    padding: 20px;
}

#Advanced_Search_Button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    width: 200px;
}

#Advanced_Search_Button:hover {
    box-shadow: 1px 1px 5px rgb(201, 193, 193);
}

#border-line {
    border-bottom: 1px solid rgb(184, 184, 184);
}

body {
    font-family: Roboto, arial, sans-serif;
}

#find_with {
    padding: 20px;
}

header {
    height: 60px;
    padding: 20px;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: right;
}

#searchInput {
    border: 1px solid rgb(201, 193, 193);
    border-radius: 20px;
    width: auto;
    max-width: 582px;
    min-width: 350px;
    height: 35px;
    font-size: 16px;
}

#searchInput:hover{
    box-shadow: 1px 1px 5px rgb(201, 193, 193);
}

.span {
    color: #666;
    font-size: 11px;
}

.span-tail {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

label {
    margin-left: 20px;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #000000;
    text-align: right;
}

.submit-button {
    margin-top: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 20px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.submit-button:hover {
    background-color: #e7ecf1;
    border: 2px solid #cececf;
}

.control {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 300px;
}

footer {
    position: fixed;
    margin: 20px;
    font-size: 13px;
    color: #000000;
    bottom: 0;
    padding: 10px;
}

.form-container {
    padding: 20px;
    margin: 20px;
}